<!DOCTYPE html>
<html>
<head>
	<title>Doctor and Recommendations</title>
</head>
<body>
  <h1>Doctor and Recommendations</h1>

  <div>
    <%- selectedDoctor %>
  </div>

  <br>

  <h2>Doctors Near You</h2>
	<div>
		<%- doctorAndRecommendations %>
	</div>
</body>
</html>
