<!DOCTYPE html>
<html>
<head>
	<title>Tables Side by Side</title>
</head>
<body>
  <h1>Doctors</h1>
  <form action="./home" method="post">
    <select name="doctorSelected">
      <%- doctor %>
    </select>

    <br>
    <br>
    <input type="submit" value="Select Doctor"/>
  </form>
  
  
</body>
</html>
